table {
	border: 5px solid lightblue
}

td:hover {
	background-color: green;
	color: black;
}

tr, th {
	background-color: gray;
	color: red;
}

tr, td {
	background-color: darkgreen;
	color: white;
}